<h1>新規登録画面</h1>

<form action="/tasks" method="post">
    <label>名称</label>
    <input type="text" name="name">
    <label>内容</label>
    <textarea name="content"></textarea>
    <button type="submit">送信</button>
</form>